.elastic-grid {
    list-style: none;
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;
}

.elastic-grid li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
}

.elastic-grid li > a,
.elastic-grid li > a img {
    border: none;
    outline: none;
    display: block;
    position: relative;
}
.veg-expanded .veg-thumbnail-pointer {
    top: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: relative;
    pointer-events: none;
    border-bottom-color: #ddd;
    border-width: 15px;
    left: 50%;
    margin: -30px 0 0 -15px;
}
.elastic-grid-expanded {
    position: absolute;
    background: #ddd;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 0;
    text-align: left;
    height: 0;
    overflow: hidden;
}

.elastic-grid-expanded-inner {
    padding: 50px 30px;
}

.veg-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.veg-close::before,
.veg-close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #888;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.veg-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.veg-close:hover::before,
.veg-close:hover::after {
    background: #333;
}
.view-griddle {
    min-height: 2000px;
}